.app-container {
    background-color: blue;
}

.header-container {
    display: flex;
    background-color: orange;
}

.app-title-container {
    background-color: royalblue;
    margin-left: 1vw;
}

.login-container {
    background-color: red;
    margin-left : auto;
    align-content: center;
    margin-right: 1vw;
    /*
    align-items: center;
    */
    
}

@media (max-width: 1920px) {
    .search-container {
        display: flex;
        background-color: green;
        margin-top:1vh;
        margin-bottom:1vh;
    }
}

@media (max-width: 960px) {
    .search-container {
        display: block;
        background-color: green;
        margin-top:1vh;
        margin-bottom:1vh;
    }
}

@media (max-width: 1920px) {
    .search-input {
        margin-left: 1vw;
        margin-right: 0.2vw;
        width: 35%;

    }
}

@media (max-width: 960px) {
    .search-input {
        margin-left: 1vw;
        margin-right: 0.2vw;
        margin-bottom: 0.2vh;
        width: 90%;

    }
}

@media (max-width: 1920px) {
    .search-button {
        margin-left : 0.2vw;
        margin-right: 2vw;
        padding-left: 1vw;
        padding-right: 1vw;
        width: 15%;

    }
}

@media (max-width: 960px) {
    .search-button {
        margin-left : 1vw;
        margin-right: 2vw;
        margin-top: 0.2vh;
        padding-left: 1vw;
        padding-right: 1vw;

    }
}








.footer-container {
    background-color: purple;
    margin-top:1vh;
    margin-bottom:1vh;
    font-size: 1.5vh;
    text-align: right;
    /*
    */
}

















